body {
  background-color:rgb(252,224,240)
}

h1 {
  padding:15px;
  background-color: white;
  font-family: helvetica;
  font-size: 48px;
  color: rgb(252,224,240);
  text-align: center;
  text-transform: uppercase;
  letter-spacing:.25em;
  }

h2 {
    font-family: arial;
    font-size: 28px;
    text-align: left;
    font-style: oblique;
    color: #34414d;
  }

.statement{
  font-family: arial;
  font-size: 14px;
  margin: 20px;
  color: #34414d;
}

img {
  border-style:double;
}

h3{
  font-family: arial;
  font-size: 20px;
  text-decoration: underline;
  color: #34414d;
  margin: 12px

}

p {
  font-family: arial;
  font-size: 14px;
  text-align: left;
  line-height:1.4em;
  color: #34414d;
  margin: 12px
}

.table{
overflow: scroll;
display:inline-block;
width:250px;
height:50px;
padding-bottom:20px;
}

.list{
  overflow: scroll;
  display:inline-block;
  width:10%;
  height:50px;
  padding-bottom:20px;
}

.heading {
  padding-top: 25px;
  font-family: helvetica;
  font-size: 16px;
  color: #2a4f99;
  margin: 12px;
}

.address {
  font-family: arial;
  font-size: 18px;
  color:#5b5c61;
  margin: 12px
}

a {
  font-family: arial;
  font-size: 14px;
  color: #2a4f99
}

a:hover {
  background-color: #72e5d2
}

#newsletter:focus {
  color: grey;
  box-shadow: 10px 10px 5px #aaaaaa;
  box-sizing: border-box;
  border: 10px solid: #2a4f99
}

.text {
  font-family:arial;
  font-size: 14px;
  padding: 12px;
  margin: 12px
}

.statement{
  text-indent:12px;
  font-family:arial;
  font-size: 14px;
  padding: 12px;
  margin: 12px
}
